<div class="videowrap app-video">
  <div class="video-container">
    <video autoplay  class="fillWidth bodyvid" poster="img/mobileapp.jpg">
    <source src="video/CONV_DEV0815_FEAT-7_v02_MPEG4_H264_460x920_3Mbps.mp4" type="video/mp4"/>
    <source src="video/CONV_DEV0815_FEAT-7_v02_THEORA_VP3_460x920_3Mbps.ogv" type="video/ogg"/>
    <source src="video/CONV_DEV0815_FEAT-7_v02_WEBM_VP8_460x920_3Mbps.webm" type="video/webm"/>
    Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div><!-- end video-container -->
</div><!-- end .app-video -->