<div class="row">
	<div class="medium-6 columns">
		<img src="img/conversations-user.png" alt="Video Chat Feature">
	</div>
	<div class="medium-6 columns">
		<img src="img/conversations-admin.png" alt="Video Chat Feature">
	</div>
</div>
