<div class="videowrap video-unit">
  <div id="video-container">
    <video autoplay  class="fillWidth js-glovebox-video bodyvid" poster="img/glove-compartment-comb.jpg">
    <source src="video/CONV_DEV0815_FEAT-2_v04_MPEG4_H264_752x748_3Mbps.mp4" type="video/mp4"/>
    <source src="video/CONV_DEV0815_FEAT-2_v04_THEORA_VP3_752x748_3Mbps.ogv" type="video/ogg"/>
    <source src="video/CONV_DEV0815_FEAT-2_v04_WEBM_VP8_752x748_3Mbps.webm" type="video/webm"/>
    Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div><!-- end video-container -->
</div><!-- end .header-unit -->