<div class="videowrap logo-video">
  <div id="video-container">
    <video autoplay  class="fillWidth logo-video" poster="img/white-poster.gif">
    <source src="video/CONV_DEV0815_FEAT-1_v02_MPEG4_H264_930x304_3Mbps.mp4"  type="video/mp4"/>
    <source src="video/CONV_DEV0815_FEAT-1_v02_THEORA_VP3_930x304_3Mbps.ogv" type="video/ogg"/>
    <source src="video/CONV_DEV0815_FEAT-1_v02_WEBM_VP8_930x304_3Mbps.webm" type="video/webm"/>
    Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div><!-- end video-container -->
</div><!-- end .header-unit -->