<div class="videowrap textmessage-video">
  <div class="video-container video-container--text">
    <video autoplay  class="fillWidth bodyvid" poster="img/texting.png">
    <source src="video/CONV_DEV0815_FEAT-3_v02_MPEG4_H264_1028x815_3Mbps.mp4" type="video/mp4"/>
    <source src="video/CONV_DEV0815_FEAT-3_v02_THEORA_VP3_1028x815_3Mbps.ogv" type="video/ogg"/>
    <source src="video/CONV_DEV0815_FEAT-3_v02_WEBM_VP8_1028x815_3Mbps.webm" type="video/webm"/>
    Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div><!-- end video-container -->
</div><!-- end .textmessage-video -->