<div class="videowrap the-points-video">
  <div class="video-container">
    <video autoplay  class="fillWidth bodyvid" poster="img/the-points.jpg">
    <source src="video/CONV_DEV0815_FEAT-5_v01_MPEG4_H264_1600x604_3Mbps.mp4" type="video/mp4"/>
    <source src="video/CONV_DEV0815_FEAT-5_v01_THEORA_VP3_1600x604_3Mbps.ogv" type="video/ogg"/>
    <source src="video/CONV_DEV0815_FEAT-5_v01_WEBM_VP8_1600x604_3Mbps.webm" type="video/webm"/>
    Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div><!-- end video-container -->
</div><!-- end .the-points-video -->