@charset 'UTF-8';
@import "bourbon";

@import "settings";
@import "../../node_modules/foundation-sites/scss/foundation/components/_grid";
@import "../../node_modules/foundation-sites/scss/foundation/components/_accordion";
@import "../../node_modules/foundation-sites/scss/foundation/components/_alert-boxes";
@import "../../node_modules/foundation-sites/scss/foundation/components/_block-grid";
@import "../../node_modules/foundation-sites/scss/foundation/components/_breadcrumbs";
@import "../../node_modules/foundation-sites/scss/foundation/components/_button-groups";
@import "../../node_modules/foundation-sites/scss/foundation/components/_buttons";
@import "../../node_modules/foundation-sites/scss/foundation/components/_clearing";
@import "../../node_modules/foundation-sites/scss/foundation/components/_dropdown";
@import "../../node_modules/foundation-sites/scss/foundation/components/_dropdown-buttons";
@import "../../node_modules/foundation-sites/scss/foundation/components/_flex-video";
@import "../../node_modules/foundation-sites/scss/foundation/components/_forms";
@import "../../node_modules/foundation-sites/scss/foundation/components/_icon-bar";
@import "../../node_modules/foundation-sites/scss/foundation/components/_inline-lists";
@import "../../node_modules/foundation-sites/scss/foundation/components/_joyride";
@import "../../node_modules/foundation-sites/scss/foundation/components/_keystrokes";
@import "../../node_modules/foundation-sites/scss/foundation/components/_labels";
@import "../../node_modules/foundation-sites/scss/foundation/components/_magellan";
@import "../../node_modules/foundation-sites/scss/foundation/components/_orbit";
@import "../../node_modules/foundation-sites/scss/foundation/components/_pagination";
@import "../../node_modules/foundation-sites/scss/foundation/components/_panels";
@import "../../node_modules/foundation-sites/scss/foundation/components/_pricing-tables";
@import "../../node_modules/foundation-sites/scss/foundation/components/_progress-bars";
@import "../../node_modules/foundation-sites/scss/foundation/components/_range-slider";
@import "../../node_modules/foundation-sites/scss/foundation/components/_reveal";
@import "../../node_modules/foundation-sites/scss/foundation/components/_side-nav";
@import "../../node_modules/foundation-sites/scss/foundation/components/_split-buttons";
@import "../../node_modules/foundation-sites/scss/foundation/components/_sub-nav";
@import "../../node_modules/foundation-sites/scss/foundation/components/_switches";
@import "../../node_modules/foundation-sites/scss/foundation/components/_tables";
@import "../../node_modules/foundation-sites/scss/foundation/components/_tabs";
@import "../../node_modules/foundation-sites/scss/foundation/components/_thumbs";
@import "../../node_modules/foundation-sites/scss/foundation/components/_tooltips";
@import "../../node_modules/foundation-sites/scss/foundation/components/_top-bar";
@import "../../node_modules/foundation-sites/scss/foundation/components/_type";
@import "../../node_modules/foundation-sites/scss/foundation/components/_offcanvas";
@import "../../node_modules/foundation-sites/scss/foundation/components/_visibility";

/*------------------------------------*\
    #GENERAL
\*------------------------------------*/

html, body{
  min-height: 100%;
}
body{
  position: relative;
}

footer {
	background-color: #51aacc;
	padding-top: 3em;
	padding-bottom: 20px;
}
footer__row {
	position: relative;
}

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

.section__header {
	font-size: 3.25em;
	.mobile-app-section &,
	.the-points-section &,
	.face-to-face-section & {
		text-align: center;
	}
}
.section__subheader {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 0.975em;
	.mobile-app-section &,
	.the-points-section &,
	.face-to-face-section & {
		text-align: center;
	}
	
}
.section__maincopy {
	font-weight: 500;
	font-size: 1.1em;
    line-height: 2;
    margin-top: 1.5em;
	.the-points-section &,
	.face-to-face-section & {
		text-align: center;
	}
}
.feature-list__header {
	color:#50aacc;
	font-weight: 500;
	font-size: 1.25em;
}


.feature-list__item {
	margin-left: 1.1rem;
	color:#111111;
	font-weight: 500;
}

footer {
	p {
		color:white;
		font-weight: 100;
		font-size: 0.675em;
	}
}
.footer__text--tagline {
	text-align: center;
	@media #{$medium-up} {& {text-align: right;}};
}
.footer__text--copyright {
	text-align: center;
	@media #{$medium-up} {& {text-align: left;}};
}

/*------------------------------------*\
    #SECTIONS
\*------------------------------------*/



section {
	padding-top:5em;
	padding-bottom:5em;
}

.header__tagline {
    text-align: center;
    margin-top: 3em;
}
.logo-section{
	padding-top:0;
}

.glove-compartment-section,
.text-message-section,
.chrome-section {
	background-color: #f7f7f7;
}
.text-message-section {
	padding-top:7em;
}
@media #{$medium-only} {
	.glove-copmartment__interchange {
    margin: 0 auto;
    display: block;
    width: 70%;
	}
	.mobile-app-section__interchange {
    margin: 0 auto;
    margin-top:2em;
    display: block;
    width: 40%;

	}
}


.chrome-section {
    position: relative;
    min-height: 650px;
}
.the-points-section {
	padding-bottom:0;
}

/*------------------------------------*\
    #VIDEO
\*------------------------------------*/

.videowrap{
	height: 600px;
	border: none;
	position: relative;
}

.video-container {
	position: absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
.video-container--text {
	top:-5%;
}
.logo-video {
  height: 400px;
}
.glovebox-video {
	position: absolute;
	top:0;
	width:100%;
}
#chrome-video-container {
	position: absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

.facetoface-video {
  height: 500px;
  padding: 20px;
}
.the-points-video {
  height: 600px;
  padding: 20px;
  top: 25px;
}
.textmessage-video {
	height: 675px;
	border: none;
	position: relative;
	padding: 20px;
	video {
		width: 60%;
	}
}
@media #{$large-up} {
	.text-message-text-wrap {
		z-index: 10;
		position: absolute;
	}
}

.chrome-video-unit {
	height: 500px;
	border: none;
	position: absolute;
	padding: 20px;
	width: 50%;
	top: 8em;
	right: 0;
	video {
		width: 120%;
		@media #{$xlarge-up} {& {width:80%;}};
	}
}
.app-video {
	height: 860px;
	border: none;
	position: relative;
	padding: 20px;
	    margin-top: 2em;
}

.next-video {
    bottom: 0;
    font-weight: 400;
    font-size: 13px;
    /* left: 0; */
    /* right: 0; */
    /* bottom: 20px; */
    position: relative;
    text-align: center;
    z-index: 10;
    margin: 0 auto;
    width: 40px;
    display: block;
    margin-top: 100px;
}
.footer__logo {
	width:150px;
	position: absolute;
    left: 50%;
    margin-left: -75px;
    margin-top: 4em;
    @media #{$medium-up} {& {margin-top:0}};
}

/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/
.nav {
	padding-top: 2em;
}

.nav__signup {
    text-align: right;
    padding-right: 5em;
    padding-top: 7px;
    a {
    	color:#222;
    }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(80,170,204,0.90);
  opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;

}
.overlay.active {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}



.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	font-size: 54px;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #222;
}

.overlay nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

.overlay.active nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}



@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

#nav-toggle {
    z-index: 9999;
    position: absolute;
    right: 2%;
    top: 3%;
    width: 50px;
    height: 50px;
    padding-top: 20px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
    background:white;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #222;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
}


/*------------------------------------*\
    #DEMO FORM
\*------------------------------------*/

.gform_fields {
	li {
		list-style-type: none;
	}
}
.gform_wrapper .scheduledemo .top_label .gfield_label {
    display: none;
}